.wrapper {
    position: relative;
    width: 420px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;

}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}


form h1{
    font-size: 36px;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}



form button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}


.forgot-password-box {
    background-color: #f8d7da; 
    border: 1px solid #dc3545; 
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center; 
  }
  
  .forgot-password-box p {
    margin: 0;
    font-size: 14px;
    color: #721c24; 
  }
  
  .forgot-password-box a {
    color: #721c24; 
    text-decoration: none;
  }
  
  .forgot-password-box a:hover {
    text-decoration: underline;
  }

  

.forgot-password-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #dc3545; 
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    z-index: 9999; 
  }
  









